@import '../../../globals/styles/variables';

.site-footer {
  background: #fff;
  border-top: 1px solid #DFE1E6;
  flex-shrink: 0;
  padding: 15px 0;
  .copyright {
    float: left;
    margin-top: 8px;
  }
  .contacts {
    float: right;
  }
  .contact {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    opacity: .7;
    &.github {
      background: url(../../../assets/images/github.png) center center no-repeat;
    }
    &.linkedin {
      background: url(../../../assets/images/linkedin.png) center center no-repeat;
    }
    &.email {
      background: url(../../../assets/images/email.png) center center no-repeat;
    }
    &:hover {
      opacity: 1;
    }
  }
}