.font-size-box {
  position: relative;
  padding-top: 15px !important; }

.font-size-input {
  display: inline-block;
  vertical-align: middle; }
  .font-size-input .input.range__item-label-input {
    margin-left: 0; }
  .font-size-input span {
    font-size: 13px;
    margin-left: 5px; }
