.color-with-label {
  margin-right: 40px;
  float: left;
  &__label {
    font-size: 18px;
    margin-right: 10px;
  }
  &__color {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 0;
    left: 0;
    cursor: pointer;
    border: 1px solid #1F2667;
    &--wrapper {
      background-image: url("../../assets/images/transparent.png");
      width: 40px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-top: -2px;
    }
    &:hover {
      border-color: #139cda;
    }
  }
}

.box-shadow__aside {
  width: 430px;
  float: left;
}