.text-shadow__preview {
  padding: 90px 30px 50px;
  position: relative;
  min-height: 276px; }

.text-shadow__box {
  font-size: 18px; }

.text-shadow-note {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #fff; }
  .text-shadow-note span {
    font-size: 13px;
    background: url("../../../../assets/images/idea.png") left center no-repeat #fff;
    padding-left: 22px; }
